@charset "UTF-8";
@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


:root {
    --fundo: #ffffff;
    --titulo: #003C4B;
    --boxTitulo: #E8D6BE;
    --boxTexto: #e8d6be7e;
    --texto: #003C4B;
    --menuLinkHover: #000000;
    --menuOptionHover: #f4dec4;
}

/* html {
    scroll-behavior: smooth;
} */
* {
    padding: 0px;
    margin: 0px;
}
nav {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
    z-index: 1000;
}
.menu {
    position: relative;
    background-color: var(--boxTitulo);
    width: 100vw;
    margin: auto;
    border-bottom: 1px solid var(--titulo);
    border-top: 1px solid var(--titulo);
    position: fixed;
    top: 178px;
}
.menu_button {
    text-align: center;
    color: var(--titulo);
}
.menu_option {
    position: absolute;
    top: 100%;
    display: none;
    width: 100vw;
    border-bottom: 1px solid var(--titulo);
}
.link {
    color: var(--titulo);
    text-decoration: none;
    position: relative;
    width: 100vw;
    text-align: center;
    border-top: 1px solid var(--titulo);
    padding: 10px;
}
.link1 {
    color: var(--titulo);
    text-decoration: none;
}
#ultima_op {
    border-bottom: 1px solid var(--titulo);
}
.link:hover {
    background-color: var(--menuOptionHover);
}
.link1:hover {
    color: var(--menuLinkHover);
}
.menu:hover .menu_option {
    display: block;
    animation: slideDown 0.5s ease;
    background-color: var(--boxTitulo);
}
header {
    background-color: var(--fundo);
    padding-bottom: 15px;
    padding-top: 10px;
    top: 0;
    z-index: 999;
    width: 100%;
    position: fixed;
}
#estrela {
    height: 100px;
    width: 100px;
}
#cestrela {
    margin: 0px;
    width: 100px;
    height: 100px;
    margin: auto;
}
#titulo {
    margin-top: 7px;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Tangerine', cursive;
    color: var(--titulo);
}
#cabecalio {
    width: 400px;
    margin: auto;
}
body {
    background-color: var(--fundo);
}
main {
    margin-top: 209px;
}
#fundo1 {
    height: 70vh;
    position: fixed;
    opacity: 0.3;
    z-index: 0;
}
#boxfundo1 {
    width: 37vw;
    margin: auto;
    position: relative;
    z-index: -1;  
    top: 25px;
}
.boxh1 {
    width: 100%;
    background-color: var(--boxTitulo);
    margin: 0px;
    padding: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
    border-bottom: 1px solid var(--titulo);
    border-top: 1px solid var(--titulo);

    position: relative;
    z-index: 1;
}
h1 {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    color: var(--titulo);
    font-family: 'Tangerine', cursive;
}
#boxtexto {
    background-color: var(--boxTexto);
    width: 350px;
    margin: auto;
}
article {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    color: var(--texto);
    padding-top: 0px;
}
p {
    padding-top: 10px;
    text-indent: 1.5em;
}

.titulo1, .titulo2, .titulo3, .titulo4 {
    visibility: hidden;
}

#ancora1, #ancora2, #ancora3, #ancora4 {   
    padding-bottom: 209px;
}

#img_tt {
    height: 25px;
    margin: 10px;
}
#img_insta, #img_wpp {
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#img_insta {
    margin-left: 20px;
}
#foot {
    border: 1px solid var(--titulo);
}
footer {
    text-align: center;
    height: 110px;
    padding: 30px;
    background-color: #E8D6BE;
}
#link_ihelph {
    color: black;
    text-decoration: none;
}
#link_ihelph:hover {
    text-decoration: underline;
}

#wpp_fixed {
    height: 4em;
    width: 4em;
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 1;
}

